<h1 mat-dialog-title>Password Change</h1>
<div mat-dialog-content>
  <form style="display: flex; flex-direction: column;" [formGroup]="passwordChangeForm">
    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" formControlName="password" required>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="once more" formControlName="passwordOnceMore" required>
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">Dismiss</button>
    <button mat-button (click)="onConfirm()" cdkFocusInitial color="accent">Submit</button>
</div>