<h1 mat-dialog-title>
  Encrypted Computation
</h1>

<div mat-dialog-content>
  <form [formGroup]="paramsForm">
    <div *ngFor="let p of paramsDesc">
      <mat-form-field>
        <mat-label>{{p.name}}</mat-label>
        <input matInput  type="number" placeholder="value {{p.name}}" [formControlName]="p.name">
      </mat-form-field>
  </div>
    <!-- <mat-form-field *ngIf="paramsDesc.length>0">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="plain value" formControlName="password" >
      </mat-form-field> -->
</form>

<mat-chip-listbox disabled *ngIf="stage >= 0 ">
  <mat-chip-option color="accent" [selected]="stage === 0">Encrypt</mat-chip-option>
  <mat-chip-option color="accent" [selected]="stage === 1">Run</mat-chip-option>
  <mat-chip-option color="accent" [selected]="stage === 2" >Decrypt</mat-chip-option>
</mat-chip-listbox>

<div *ngIf="result">Result: {{result[0]}}</div>

</div>

<mat-spinner *ngIf="stage >= 0 "></mat-spinner>

<div mat-dialog-actions *ngIf="stage < 0 " align="end">
    <button mat-button mat-dialog-close>Dismiss</button>
    <button mat-raised-button color="primary" (click)="encryptRunDecrypt()">Encrypt, Run, Decrypt!</button>
</div>