<div style="display: flex; align-items: center;"><h1>&nbsp;Key Vault&nbsp;</h1>
  <img src="assets/fhe-enclave.png"></div>
  <p style="margin: 15px;">This is a cloud default vault. The offline desktop FHE vault is still under development. 
    However, you can always run <a href="https://github.com/artifirm/fhe-studio-api">a FHE cloud vault on-prem.</a></p>
  <p style="margin: 10px;">The vault calls 3 separate REST services, encrypt, run and decrypt. They all combined in one UI button on this page for the demo purposes. </p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-stroked-button color="accent" (click)="runCircuit(element.id)">Run Circuit</button> &nbsp;
        <button mat-button (click)="deleteVaultItem(element.id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
          <button  mat-stroked-button color="primary" (click)="showSrc(element.id)">
          {{element.name}}</button></td>
    </ng-container>
  
     <!-- Email Column -->
     <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created_time | date: 'short'}} </td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>